.LinkContainer h5 {
  margin: 0;
}

a {
  font-size: 24px;
}

.Nav {
  z-index: 1000;
  display: flex;
  width: 100%;
}

.LinkContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .LinkContainer h5 {
    font-size: 14px;
  }
}
