.TotalContainer {
  padding-top: 60px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .TotalContainer {
    padding-top: 70px;
  }
  .TotalContainer h2 {
    font-size: 1.5rem;
  }
}
